<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--Custom CSS -->
      <link href="../static/css/base.css" type="text/css" rel="stylesheet" />

      {% if title %}
          <title>{{ title }}</title>
      {% else %}
          <title>No title specified</title>
      {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Module Chooser</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="/display_modules" class="nav-link">Display Modules</a>
          </li>
          <li class="nav-item">
            <a href="/display_courses" class="nav-link">Display Courses</a>
          </li>
          <li class="nav-item">
            <a href="/display_lecturers" class="nav-link">Display Lecturers</a>
          </li>
          <li class="nav-item">
            <a href="/display_modules_in_mch" class="nav-link">Module Chooser</a>
          </li>
          {% if user.is_authenticated %}
            {% if current_user.student_email == 'admin@leeds.ac.uk' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin Panel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/create_module">Create Module</a>
                  <a class="dropdown-item" href="/create_course">Create Course</a>
                  <a class="dropdown-item" href="/create_lecturer">Create Lecturer</a>
                </div>
              </li>
            {% endif %}
          <li class="nav-item">
            <a href="/sign_out" class="nav-link">Sign Out</a>
          </li>
          {% else %}
              <li class="nav-item">
                <a href="/sign_in" class="nav-link">Sign In</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
