{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Create module</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="/create_module">
                        {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </span>
                                                <input class="form-control" id="module_title" name="module_title" placeholder="Title" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-triangle-right"></i>
                                                </span>
                                                <input class="form-control" id="module_code" name="module_code" placeholder="Code" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-triangle-right"></i>
                                                </span>
                                                <input class="form-control" id="module_credits" name="module_credits" placeholder="Credits" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-triangle-right"></i>
                                                </span>
                                                <input class="form-control" id="module_year" name="module_year" placeholder="Year" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-triangle-right"></i>
                                                </span>
                                                <input class="form-control" id="module_semester" name="module_semester" placeholder="Semester" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" id="class_size" name="class_size" placeholder="Class Size" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input class="form-control" id="module_description" name="module_description" placeholder="Description" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" id="lecturer_id" name="lecturer_id" placeholder="Lecturer" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-primary btn-block" id="create_module_button" value="Create Module">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
