{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Create course</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="/create_course">
                        {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </span>
                                                <input class="form-control" id="course_title" name="course_title" placeholder="Title" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-triangle-right"></i>
                                                </span>
                                                <input class="form-control" id="course_degree_bach" name="course_degree_bach" placeholder="Bachelor Degree" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" id="course_degree_mast" name="course_degree_mast" placeholder="Masters Degree" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input class="form-control" id="course_1y_credits" name="course_1y_credits" placeholder="1st Year Credits" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input class="form-control" id="course_2y_credits" name="course_2y_credits" placeholder="2nd Year Credits" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input class="form-control" id="course_3y_credits" name="course_3y_credits" placeholder="3rd Year Credits" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </span>
                                                <input class="form-control" id="course_4y_credits" name="course_4y_credits" placeholder="4th Year Credits" required="" type="number" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-primary btn-block" id="create_course_button" value="Create Course">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
