{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-4">
                <h1>All modules</h1><br>
            </div>
        </div>
            <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
              <thead>
                  <tr>
                      <th>Code</th>
                      <th>Module</th>
                      <th>Credits</th>
                      <th>Year</th>
                      <th>Semester</th>
                      <th>Class Size</th>
                      <th class="text-center">Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for module in modules %}
                      <tr>
                          <td><a id="module{{module.id}}title" href="/display_module_details/{{module.id}}">
                              {{ module.module_code }}</a>
                          </td>
                          <td>{{module.module_title}}</td>
                          <td>{{module.module_credits}}</td>
                          <td>{{module.module_year}}</td>
                          <td>{{module.module_semester}}</td>
                          <td>{{module.class_size}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
{% endblock %}
