{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-4">
                <h1>All Lecturers</h1><br>
            </div>
        </div>
            <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
              <thead>
                  <tr>
                      <th>Degree</th>
                      <th>Name</th>
                      <th>E-mail</th>
                      <th class="text-center">Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for lecturer in lecturers %}
                      <tr>
                          <td>
                              {{ lecturer.lecturer_degree }}
                          </td>
                          <td>{{lecturer.lecturer_name}}</td>
                          <td>{{lecturer.lecturer_email}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
{% endblock %}
