{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container-fluid">
      <!-- <div class="container"> -->
        <div class="row">
          <div class="col-sm-6">
            <h3>Assigned Modules</h3>
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Module</th>
                    <th scope="col">Yr</th>
                    <th scope="col">Sem</th>
                    <th scope="col">Credits</th>
                  </tr>
                </thead>
                <tbody>
                  {% for module in modules %}
                      <tr>
                          <td>
                              {{ module.module_code }}</a>
                          </td>
                          <td>{{module.module_title}}</td>
                          <td>{{module.module_year}}</td>
                          <td>{{module.module_semester}}</td>
                          <td>{{module.module_credits}}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      <!-- </div> -->
    </div>
{% endblock %}
