{% extends "login_base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container">
        <form class="form-horizontal" role="form" action="" method="post" name="/sign_up">
          {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Sign up with your University Account</h2>
                    <h3><b>(username@leeds.ac.uk)</b></h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input class="form-control" id="student_name" name="student_name" placeholder="Full Name"
                            required="" type="text" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input  class="form-control" id="student_email" name="student_email"
                            required="" type="text" value="" placeholder="Student E-mail" autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> Example error message
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input  class="form-control" id="confirm_email" name="confirm_email"
                            required="" type="text" value="" placeholder="Confirm Student E-mail" autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> Example error message
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input class="form-control" id="student_password" name="student_password" placeholder="Password"
                            required="" type="password" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input class="form-control" id="current_year" name="current_year" placeholder="Current Year of Study"
                            required="" type="number" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <select id="select_course_menu" name="course_id" class="form-control">
                              <option>--None--</option>
                                {% for course in courses %}
                                    <option id="precourse{{course.id}}" value="{{course.course_title}}">{{course.course_title}} </option>
                                {%endfor%}
                          </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" id="sign_up_button" value="Sign Up">
                  </div>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Sign Up</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="/sign_up">
                        {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="row">
                                    <div class="pull-center">
                                        <img class="profile-img"
                                            src="../static/images/logo/profile.png" alt="profile">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" id="username" name="username" placeholder="Username" required="" type="text" value="">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>

                                                <input class="form-control" id="password" name="password" placeholder="Password" required="" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                </span>
                                                <input class="form-control" id="email" name="email" placeholder="Email" required="" type="text" value="">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-repeat"></i>
                                                </span>
                                                <input class="form-control" id="confirm_email" name="confirm_email" placeholder="Confirm Email" required="" type="text" value="">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Up">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}
