{% extends "login_base.html" %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container">
        <form class="form-horizontal" role="form" action="" method="post" name="/sign_in">
          {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Sign in with your University Account</h2>
                    <h3><b>(username@leeds.ac.uk)</b></h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input  class="form-control" id="student_email" name="student_email"
                            required="" type="text" value="" placeholder="username@leeds.ac.uk" autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> Example error message
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input class="form-control" id="student_password" name="student_password" placeholder="Password"
                            required="" type="password" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" id="sign_in_button" value="Sign In">
                  </div>
                </div>
            </div>
        </form>
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="panel-footer ">
                  Don't have an account? Sign up <a href="/sign_up">HERE!</a></p>
              </div>
            </div>
        </div>
    </div>

    <!-- <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> Sign in to continue</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" name="/sign_in">
                        {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" id="student_email" name="student_email" placeholder="E-mail" required="" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>

                                                <input class="form-control" id="student_password" name="student_password" placeholder="Password" required="" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-primary btn-block" id="sign_in_button" value="Sign In">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-footer ">
                        Don't have an account? Sign up <a href="">HERE!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

{% endblock %}
